<div ng-controller="TdCmparCtrl" data-ng-init="Init()">
  <!--acc no row-->
  <table class="table table-striped">
    <thead>
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th>
          <div>
            Acc
          </div>
          <div>SharpeR</div>
        </th>
        <th ng-repeat="accNo in Model.AccInfos" class="text-center">
          <div>{{accNo.AccountNo}}</div>
          <div>{{accNo.SharpeR}}</div>
        </th>
      </tr>
    </thead>
    <!--trade time line row-->
    <tbody>
      <tr ng-repeat="tdTl in Model.TradesTimeLine">
        <!--time-->
        <td>
          {{tdTl[0].Time}}
        </td>
        <td>
          {{tdTl[0].Symbol}}
        </td>
        <td>
          {{tdTl[0].Type}}
        </td>
        <td>
          {{tdTl[0].Direction}}
        </td>
        <td ng-repeat="td in tdTl">
          <div class="row" ng-if="td.Id">
            <div class="col-xs-4">{{td.Price}}</div>
            <div class="col-xs-4">{{td.Volume}}</div>
            <div class="col-xs-4">{{td.Profit}}</div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>